<div class="container">
  <div class="mdl-cell mdl-cell--12-col">
    <div class="page__heading flex__items--center">
      <div class="page__heading-text">
        <h3 class="page__heading-title">Heroes</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card mdl-card--2dp block--full mdl-shadow--2dp">

      <table class="mdl-data-table block--full mdl-js-data-table mdl-shadow--2dp">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric"></th>
            <th class="mdl-data-table__cell--non-numeric">Name</th>
            <th class="mdl-data-table__cell--non-numeric"></th>
            <th class="mdl-data-table__cell--non-numeric"></th>
            <th class="mdl-data-table__cell--non-numeric">Weapon</th>
            <th class="mdl-data-table__cell--non-numeric">Assist</th>
            <th class="mdl-data-table__cell--non-numeric">Special</th>
            <th class="mdl-data-table__cell--non-numeric">Passive (A)</th>
            <th class="mdl-data-table__cell--non-numeric">Passive (B)</th>
            <th class="mdl-data-table__cell--non-numeric">Passive (C)</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @heroes.each do |hero| %>
          <tr>
            <td class="mdl-data-table__cell--non-numeric"><%= image_tag "heroes/#{hero.name}.png", width: 50, height: 50 %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= hero.name %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= image_tag("Icon_Class_#{hero.color.name}_#{hero.weapon_type.name}.png", width: 40, height: 40) %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= image_tag("Icon_Move_#{hero.movement_type.name}.png", width: 40, height: 40) %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= hero.weapon.try(:name) %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= hero.assist.try(:name) %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= hero.special.try(:name) %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= hero.a_passive.try(:name) %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= hero.b_passive.try(:name) %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= hero.c_passive.try(:name) %></td>
            <td class="mdl-data-table__cell--non-numeric">
              <%= link_to(new_hero_build_path(hero)) do %>
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent">
                  <i class="material-icons material-icons--in-button md-18">build</i>
                </button>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
